@model IEnumerable<Film>
@{
    ViewData["Title"] = "SearchResult";
}

<form method="get" action="~/films/SearchResult">
    <label for="minLength">Min Length: </label>
    <input type="text" name="minLength" id="minLength" />
    <label for="maxLength">Max Length: </label>
    <input type="text" name="maxLength" id="maxLength" />
    <label for="genre">Genre: </label>
    <select name="genre" id="genre">
        <option value="action">Action</option>
        <option value="animation">Animation</option>
        <option value="children">Children</option>
        <option value="classics">Classics</option>
        <option value="comedy">Comedy</option>
        <option value="documentary">Documentary</option>
        <option value="drama">Drama</option>
        <option value="family">Family</option>
        <option value="foreign">Foreign</option>
        <option value="games">Games</option>
        <option value="horror">Horror</option>
        <option value="music">Music</option>
        <option value="new">New</option>
        <option value="sci-fi">Sci-Fi</option>
        <option value="sports">Sports</option>
        <option value="travel">Travel</option>
    </select>
    <br />
    <input type="submit" value="Search" />
</form>

<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Release Year</th>
        <th>Length</th>
        <th>Rating</th>
    </tr>
    @foreach (Film film in Model)
    {
    <tr>
        <td>@film.Title</td>
        <td>@film.Description</td>
        <td>@film.ReleaseYear</td>
        <td>@film.Length</td>
        <td>@film.Rating</td>
    </tr>
    }
    </table>

