@model IList<Review>
@{
    ViewData["Title"] = "Index";
    bool tableShaded = false;
}
<img id="dummies" src="~/images/forDummies.png" />
<h2>Past Reviews</h2>
@foreach (Review review in Model)
{
    <div class="post @(tableShaded ? "shaded" : "")">
        <table>
            <tr>
                <h4>
                    @review.ReviewTitle
                    @{
                        for (int i = 1; i <= review.Rating; i++)
                        {
                            <img src="~/images/star.png" />
                        }
                    }
                </h4>
            </tr>
            <tr>
                by @review.UserName on @review.ReviewDate
                <br />
            </tr>
            <tr>
                @review.ReviewText
            </tr>
        </table>
    </div>
    tableShaded = !tableShaded;
}

<a asp-area="" asp-controller="Home" asp-action="Newreview">Submit a new review</a>
